html{
  background: #80d6ff;
}

nav{
  text-align: center;
  background: #42a5f5;
  margin-right: 0.8em;
  margin-left: 0.8em;
}

button{
  background-color: #0077c2;
  padding: .5em;
  border-radius: 1px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
  text-decoration: none;
  border: none;
  outline: none;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  color: #000000;
}

button:hover{
  box-shadow: 0px 1px 4px #7492a1;
  cursor: pointer;
}

nav > ul >li{
  display:inline-block;
  list-style-type: none;
  margin-right: 2em;
  font-weight: 600;
  color: green;
}

article > p{
  font-family: 'Roboto';
  font-size: 1.1em;
  font-weight: 400;
  padding-left: 12vw;
  padding-right: 12vw;
  color: #000000;
  line-height: 1.65em;
}

footer{
  background: #42a5f5;
  margin-left: 0vw;
  margin-right: 0vw;
  padding-left: 12vw;
  padding-right: 12vw;
  text-align: left;
}
p{
  font-size: 17px;
  font-family: sans-serif;
  text-align: left;
  color: #000000;
  line-height: 1.2;
    font-family: "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}
blockquote{
  font-size: 2em;
  font-family: cursive;
  text-align: center;
  margin-left: 12vw;
  margin-right: 12vw;
  color: #FE0101;
  background-color: #00b7ff;
}

#bloglist{
  list-style: none;
  font-size: 2em;
  text-align: center;
}

.boxed{
  outline: 2px solid ;
  outline-offset: 3px;
}
