html{
  margin-left: 12vw;
  margin-right: 12vw;
  background: linear-gradient(#61d8fc,#88aaff);
}

nav{
  text-align: center;
  background: linear-gradient(#adadad,#c6c6c6);
  margin-right: 0.8em;
  margin-left: 0.8em;
}

button{
  background-color: #969db0;
  padding: .5em;
  border-radius: 1px;
  color: #fff;
  font-family: 'Comic Sans MS';
  font-size: 20px;
  text-decoration: none;
  border: none;
  outline: none;
}

button:hover{
  box-shadow: 0px 1px 4px #7492a1;
}

nav > ul >li{
  display:inline-block;
  list-style-type: none;
  margin-right: 2em;
  font-weight: 600;
  color: green;
}

h1{
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  color: #3617FE;
}
article > p{
  margin-left: 1em;
  margin-right: 1em;
}

footer{
  margin-left: 1em;
  margin-right: 1em;
  text-align: left;
}
p{
  font-size: 17px;
  font-family: sans-serif;
  text-align: left;
  color: #C301B6;
}
blockquote{
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  color: #FE0101;
  background-color: #00b7ff;
}

.boxed{
  outline: 2px solid ;
  outline-offset: 3px;
}
